.nav-items {
    width: 80%;
    margin-left: 10%;
    text-align: center;
    box-shadow: none;
}

.nav-items a {
    font-size: 2.5rem;
}

.nav-items a:hover {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
    background-color: transparent;
    cursor: pointer;
    color: rgb(255, 62, 95);
}

.nav-items li {
    text-align: center;
    width: 25%;
    font-weight: bold;
}

.nav-items li:hover {
    border-radius: 50px;
}