.my-sign-in-form {
    width: 40%;
    position: absolute;
    bottom: 30%;
    right: 50%; 
}

.half {
    width: 50%;
}

.button-spacing {
    width: 50%;
    text-align: center;
}

.container {
    width: 70%;
    margin-left: 15% !important;
}

.main-pg {
    font-size: 2rem;
}

.flex {
    background: rgb(241, 250, 249);
    display: flex;
}

.heading {
    text-align: center;
    background: rgb(68, 68, 68);
    color: white;
    font-size: 2.5rem;
}
/* .btn-group {

} */

.half-width {
    width: 50%;
}

.margin-top {
    margin-top: 30px;
}

.completed {
    text-decoration: line-through;
    color: green;
}

.left-col {
    width: 50%;
    color: blue;
}

.right-col {
    width: 50%;
    color: purple;
}